#checkout-agreement-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#checkout-agreement-main {
	color: #CACACA;
	min-width: 28.8rem;
	max-width: 37.4rem;
	width: 100%;
	display: flex;
	flex-direction: column;
}

#checkout-agreement-main > p {
	display: inline-block;
	min-width: 28.8rem;
	color: #CACACA;
	font-size: 1rem;
	line-height: 1.5rem;
	letter-spacing: .1rem;
	margin-top: 3rem;
	margin-bottom: .3rem;
	text-align: start;
}

#checkout-agreement-main > h3 {
	color: #FFF;
	font-size: 2.4rem;
	padding-bottom: 2.4rem;
}


#checkout-agreement-article {
	min-width: 30.4rem;
	max-width: 39.1rem;
	max-height: 28.6rem;
	display: flex;
	flex-direction: column;
	padding: .8rem;
	border-radius: 1rem;
	margin-right: 0;
	margin: 0 -.8rem;
	margin-top: 1rem;
}

#checkout-agreement-article > p {
	color: #CACACA;
	font-size: 1.2rem;
	letter-spacing: .1rem;
	line-height: 1.8rem;
}

#checkout-agreement-article > p > a {
	color: #67DBFF;
	text-decoration: underline;
}


#checkout-agreement-wrapper > section {
	background: #1a1d29;
	opacity: 1;
	height: 15rem;
	color: white;
	position: -webkit-sticky;
  	position: fixed;
  	bottom: 0;
	font-size: 1.5rem;
	padding: 2rem;
}

#checkout-agreement-wrapper > section > a {
	min-width: 28.8rem;
	width: 100%;
	height: 4.8rem;
	color: #F9F9F9;
	font-size: 1.5rem;
	background: #0072d2;
	padding: 0 2.4rem;
	font-weight: bold;
	letter-spacing: .2rem;
	border-radius: .3rem;
	border: none;
	align-self: center;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: .5rem;
}

@media (min-width: 600px) {
	#checkout-agreement-article {
		overflow-y: auto;
	}
}