#checkout-footer {
	height: 35.4rem;
	width: 100vw;
	background: #000000;
	padding-top: 1.9rem;
	display: block;
}

#checkout-footer > img {
	width: 9.4rem;
	height: 3.8rem;
	display: block;
	margin: 0 auto;
}