#checkout-payment-method {
	position: relative;
	width: 100%;
	cursor: pointer;
}

#checkout-payment-method > section {
	min-width: 14.4rem;
	max-height: 4.1rem;
	padding-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: .6rem;
}

#checkout-payment-method > section > img {
	width: 2.5rem;
	height: 2.5rem;
	margin-right: .8rem;
}

#checkout-payment-method > section > p {
	color: #CACACA;
	font-size: 1.2rem;
}

#payment-method-border-bottom-selected {
	border-bottom: .3rem solid #f9f9f9;
	min-width: 14.4rem;
	width: 100%;
	background: #f9f9f9;
	border-radius: 5px 5px 0 0;
}

#payment-method-border-bottom-not-selected {
	border-bottom: 1px solid #474953;
	min-width: 14.4rem;
	width: 100%;
	background: #474953;
	position: absolute;
	bottom: 0;	
}